@media (max-width: $middle-size) {
    code {
        white-space: normal;
    }

    .container {
        padding: 0;
    }

    .folder-heading {
        h3.left, .right {
            float: none;
        }
    }
}
